.header {
  &__inner {
    margin: 0 auto;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  &__logo {
    margin-bottom: 15px;
    img {
      max-width: 40px;
    }
  }
  &__text {
    color: $grey;
    font-size: 15px;
    padding-top: 5px;
  }
}